{% extends 'base.html.twig' %}
{% block body %}
<p>Bonjour {{user.pseudo}},</p>
<p>Vous avez effectué une demande de réinitialisation de mot de passe.</p>
<p>Pour en créer un nouveau, veuillez cliquer sur <a href='https://www.locautocross.fr/reset/{{resetToken.token}}'>ce lien</a>.</p>
<p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer cet email.</p>
<p>Attention, le lien expirera une heure après la demande.</p>
{% endblock %}

