@use '/src/styles/vars';

.MyVehicles {
  &-Carousel {

    &-DeleteIcon {
      position: absolute;
      top: 0;
      left: 72%;
      margin: 1rem;
      transition-duration: .5s;
      cursor: pointer;

      @media screen and (min-width: 768px) {
        top: 0;
        left: 88%;

      }
    }

    &-DeleteIcon:hover, &-EditIcon:hover, &-MoreIcon:hover{
      transform: scale(1.5);
    }

    &-EditIcon {
      position: absolute;
      top: 1.5%;
      left: 12%;
      margin: 1rem;
      transition-duration: .5s;
      cursor: pointer;


      @media screen and (min-width: 768px) {
        bottom: 0;
        top: auto;
        left:88%;
      }
    }

    &-MoreIcon {
      position: absolute;
      bottom:0;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 2.5rem;
      transition-duration: .5s;
      color: vars.$text;
      cursor: pointer;


      @media screen and (min-width: 768px) {
        margin-bottom: .7rem;
      }
    }

  }
}

.under768 {
  text-align: center;
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
}

.over768 {
  display: none;
}

@media screen and (min-width: 768px) {
  .under768 {
    display: none;
  }
  .over768 {
    display: block;
  }
}
