@use '/src/styles/vars';

.MyVehicles {
  &-Carousel {

    &-DeleteIcon {
      position: absolute;
      top:0;
      right:0;
      margin: 1rem;
      transition-duration: .5s;
    }

    &-DeleteIcon:hover, &-EditIcon:hover, &-MoreIcon:hover{
      transform: scale(1.5);
    }

    &-EditIcon {
      position: absolute;
      bottom:0;
      right:0;
      margin: 1rem;
      transition-duration: .5s;
    }

    &-MoreIcon {
      position: absolute;
      bottom:0;
      left: 50%;
      transform: translateX(-50%);
      margin: .7rem;
      transition-duration: .5s;
      color: vars.$text;
    }

  }
}
