
/* Votre animation d'entrée */
.your-component-enter {
  opacity: 0;
  transform: scale(0.9);
}

.your-component-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms, transform 1000ms;
}


/* Votre animation de sortie (si nécessaire) */
.your-component-exit {
  opacity: 1;
}

.your-component-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1000ms, transform 1000ms;
}

.Vehicles {

  &-over992 {
    display: none;
  }

  @media screen and (min-width: 992px) {
    &-under992 {
      display: none;
    }
    &-over992 {
      display: block;
    }
  }
}
