@use '/src/styles/vars';

ul,li {
  margin: 0;
  padding: 0;
}

.Event {
  position: absolute;
  text-align: center;
  z-index: 99;
  left: 50%;
  top: 25%;
  width: 95%;
  transform: translate(-50%, -25%);
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
  border-radius: 12px;

  &-Button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background-color: vars.$tertiary;
    color: vars.$text;
  }

  &-Box {
    border: 1px solid vars.$text;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  @media screen and (min-width: 1024px) {
    width: 70%;
  }

  ul {
    list-style: none;
  }
}
