<div>
<h1>Une nouvelle conversation</h1>
<p>Bonjour {{rental.ownerUser.pseudo}}, il y a du nouveau concernant votre proposition de location pour {{rental.event.track.city}} !</p>
<p>{{rental.tenantUser.pseudo}} vient de vous contacter ! </p>
<p>Pour lire le message et lui répondre, rendez-vous sur <a href='http://localhost:8080/location/{{rental.id}}'>la page de votre location.</a></p>
<p>N'oubliez pas de vous connecter pour accéder au panneau de contrôle.</p>
<p>Bisous</p>
</div>