@use 'reset';
@use 'vars';

$body-bg: vars.$background;
$body-color: vars.$text;

$theme-colors: (
  'primary': vars.$primary,
  'secondary': vars.$secondary,
  'tertiary': vars.$tertiary,
  'danger': #e90606,
  );

body {
  font-family: sans-serif;
  // background-color: vars.$background;

}

@import '~bootstrap/scss/bootstrap';

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
